.wraper {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  padding: 20px;

  border-radius: 10px;
  border-color: transparent;
  background-color: #4580bb;

  color: #fff;
  cursor: pointer;
}
